<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>340772694945-9tl4k5qvfi920u8o1qsgagdesm9qfsok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340772694945-9tl4k5qvfi920u8o1qsgagdesm9qfsok</string>
	<key>API_KEY</key>
	<string>AIzaSyAAVMoj9EiM_ydVhMsXfeMqvZ6GJFbvEBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>340772694945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.belal.CVApp</string>
	<key>PROJECT_ID</key>
	<string>mycv-a97bf</string>
	<key>STORAGE_BUCKET</key>
	<string>mycv-a97bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340772694945:ios:17dbb64275a1d02b</string>
	<key>DATABASE_URL</key>
	<string>https://mycv-a97bf.firebaseio.com</string>
</dict>
</plist>